.word-label {
    -fx-background-color: white;
    -fx-background-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.1), 5, 0.4, 0, 1px);
    background-color: white;
}

.word-label:hover {
    -fx-background-image: url('../icons/copy.png');
    -fx-background-size: 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 98% 50%;
    -fx-background-color:#FAFAFA;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 5, 0.4, 0, 0);
    background-image: url('../icons/copy.png');
    background-size: 42;
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-color: #FAFAFA;
}